.version.play_app /* version checker */
{
	color: #0000ED;
	background-color: #B3C093;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 62px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 2476px;
	margin-left: auto;
	margin-right: auto;
}

#u3318-4
{
	z-index: 27;
	width: 310px;
	min-height: 28px;
	background-color: transparent;
	line-height: 31px;
	text-transform: uppercase;
	color: #000000;
	font-size: 26px;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 20px;
}

#menuu3319
{
	z-index: 2;
	width: 489px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 503px;
}

#u3327
{
	width: 95px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3328
{
	width: 95px;
	background-color: transparent;
	padding-bottom: 16px;
	position: relative;
}

#u3328.MuseMenuActive
{
	width: 95px;
	min-height: 0px;
	margin: 0px;
}

#u3329-4
{
	width: 47px;
	min-height: 18px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 18px;
	color: #000000;
	font-size: 15px;
	text-align: center;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 24px;
}

#u3328:hover #u3329-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 47px;
	margin: 0px -10000px 0px 0px;
}

#u3328.MuseMenuActive #u3329-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 47px;
	margin: 0px -10000px 0px 0px;
}

#u3328:hover #u3329-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u3320
{
	width: 112px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 97px;
}

#u3323
{
	width: 112px;
	background-color: transparent;
	padding-bottom: 16px;
	position: relative;
}

#u3323.MuseMenuActive
{
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u3326-4
{
	width: 65px;
	min-height: 18px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 18px;
	color: #000000;
	font-size: 15px;
	text-align: center;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 23px;
}

#u3323:hover #u3326-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u3323.MuseMenuActive #u3326-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u3323:hover #u3326-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u3341
{
	width: 133px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#u3342
{
	width: 133px;
	background-color: transparent;
	padding-bottom: 16px;
	position: relative;
}

#u3342:hover
{
	width: 133px;
	min-height: 0px;
	margin: 0px;
}

#u3342.MuseMenuActive
{
	width: 133px;
	min-height: 0px;
	margin: 0px;
}

#u3345-4
{
	width: 86px;
	min-height: 18px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 18px;
	color: #000000;
	font-size: 15px;
	text-align: center;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 23px;
}

#u3342:hover #u3345-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3342.MuseMenuActive #u3345-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3342:hover #u3345-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u3348
{
	width: 143px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 346px;
}

#u3351
{
	width: 143px;
	background-color: transparent;
	padding-bottom: 16px;
	position: relative;
}

#u3351.MuseMenuActive
{
	width: 143px;
	min-height: 0px;
	margin: 0px;
}

#u3354-4
{
	width: 96px;
	min-height: 18px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 18px;
	color: #000000;
	font-size: 15px;
	text-align: center;
	font-family: electrolize, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 23px;
}

#u3351:hover #u3354-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u3351.MuseMenuActive #u3354-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u3351:hover #u3354-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u3328.MuseMenuActive #u3329-4 p,#u3323.MuseMenuActive #u3326-4 p,#u3342.MuseMenuActive #u3345-4 p,#u3351.MuseMenuActive #u3354-4 p
{
	color: #000000;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1020px;
}


